/bower_components
/task7/DataServer.Web/DataServer.Web/bin
/task7/DataServer.Web/DataServer.Web/obj
/task7/DataServer.Web/DataServer.DatabaseAccess/bin
/task7/DataServer.Web/DataServer.DatabaseAccess/obj
/task7/DataServer.Web/DataServer.Web/Content/UploadedFiles
/angular/jasmin_test/app/bower_components
