<!DOCTYPE html>
<html lang="en" ng-app="flickrGallery">
<head>
	<meta charset="UTF-8">
	<title>Flickr Gallery</title>
	<link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="../bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/spinner.css">
	<link rel="stylesheet" href="css/main.css">
	<base href="/">
</head>
<body ng-controller="GalleryListCtrl">

	<div style="display: block;" class="page">
		
		<nav class="navbar navbar-default">
			<!--  navbar-fixed-top -->
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Photo Gallery</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">{{ user.fullname }}</a></li>
						<li><a ng-show="!isAuthorized" href="#">Not authorized</a></li>
						<li><a ng-href="{{ authUrl }}">Sign In</a></li>
						<li><a href="#">Profile</a></li>
						<li><a href="#">Help</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">

			<div class="row">
				<div class="col-md-3">

					<div class="gallery-controll">
						<ul ng-repeat="photoset in photosets" class="nav nav-pills photoset-list" role="tablist">
							<li ng-click="setPhotoset(photoset.id)" ng-class="{active: curPhotosetId == photoset.id}" role="presentation">
								<a href="#">
									<span>{{ photoset.id }}</span>
									<span class="badge">{{ photoset.photos }}</span>
								</a>
							</li>
						</ul>
						<button ng-click="openUploadDialog()" ng-disabled="curPhotosetId == 0" type="button" class="btn btn-warning">Upload Photo</button>
						<div class="message-info">
							<h4>Log</h4>
							<ul class="list-group">
								<li ng-repeat-start="message in messagesInfo" ng-repeat-end class="list-group-item">{{ message }}</li>
							</ul>
						</div>

					</div>

				</div>
				<div class="col-md-9">
					<div class="gallery-photos">

						<ul ng-repeat="photo in photos">
							<li class="gallery-item">
								<div class="photo-container">
									<button ng-click="deletePhoto(photo.id)" type="button" class="btn btn-default btn-delete-photo">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
									</button>
									<img ng-src="{{ photo | toPhotoPath }}" src="" alt="">
								</div>
								<div class="photo-info">
									<span>{{ photo.title }}</span>
								</div>
							</li>
						</ul>

					</div>
				</div>
			</div>
		</div>

	</div>

	<script type="text/ng-template" id="dialogTemplate.html">
	<div ng-controller="DialogCtrl" class="upload-dialog dialog" title="Upload Photo">
	<form>
	<fieldset>
	<label for="title">Title</label>
	<input ng-model="model.title" type="text" name="name" class="text ui-widget-content ui-corner-all">

	<label for="description">Description</label>
	<input ng-model="model.description" type="text" name="description" class="text ui-widget-content ui-corner-all">

	<input file-model='fileModel' id="fileUpload" type="file" /><br>
	<div class="image-holder"></div>

	<button ng-click="saveClick()">Save</button>
	<button ng-click="cancelClick()">Cancel</button>
	</fieldset>
	</form>
	</div>
	</script>

	<script src="../../bower_components/jquery/dist/jquery.js"></script>
	<script src="../bower_components/jquery-ui/jquery-ui.min.js"></script>
	<script src="../../bower_components/angular/angular.js"></script>
	<script src="../../bower_components/angular-animate/angular-animate.js"></script>
	<script src="../../bower_components/angular-route/angular-route.js"></script>
	<script src="../../bower_components/angular-resource/angular-resource.js"></script>
	<script src='/bower_components/angular-file-model/angular-file-model.js'></script>
	
	<script src="js/md5.js"></script>
	<script src="js/flicker.js"></script>
	<script src="js/utils.js"></script>
	<script src="js/services.js"></script>	
	<script src="js/filters.js"></script>
	<script src="js/dialog-service.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/app.js"></script>

</body>
</html>