<!DOCTYPE html>
<html lang="en" ng-app="flickrGallery">
<head>
	<meta charset="UTF-8">
	<title>Flickr Gallery</title>
	<link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="../bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/spinner.css">
	<link rel="stylesheet" href="css/main.css">
	<base href="/">
</head>
<!-- <body ng-controller="GalleryListCtrl"> -->
	<body>
		
	<div ng-view></div>

	<script type="text/ng-template" id="dialogTemplate.html">
	<div ng-controller="DialogCtrl" class="upload-dialog dialog" title="Upload Photo">
	<form>
	<fieldset>
	<label for="title">Title</label>
	<input ng-model="model.title" type="text" name="name" class="text ui-widget-content ui-corner-all">

	<label for="description">Description</label>
	<input ng-model="model.description" type="text" name="description" class="text ui-widget-content ui-corner-all">

	<input file-model='fileModel' id="fileUpload" type="file" /><br>
	<div class="image-holder"></div>

	<button ng-click="saveClick()">Save</button>
	<button ng-click="cancelClick()">Cancel</button>
	</fieldset>
	</form>
	</div>
	</script>


	<script src="../../bower_components/jquery/dist/jquery.js"></script>
	<script src="../bower_components/jquery-ui/jquery-ui.min.js"></script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="../../bower_components/angular/angular.js"></script>
	<script src="../../bower_components/angular-animate/angular-animate.js"></script>
	<script src="../../bower_components/angular-route/angular-route.js"></script>
	<script src="../../bower_components/angular-resource/angular-resource.js"></script>
	<script src='../../bower_components/angular-file-model/angular-file-model.js'></script>
	
	<script src="js/md5.js"></script>
	<script src="js/flicker.js"></script>
	<script src="js/utils.js"></script>
	<script src="js/services.js"></script>	
	<script src="js/filters.js"></script>
	<script src="js/dialog-service.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/app.js"></script>

</body>
</html>